/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--header-menu--*/
button#showRightPush {
	background: none;
	border: none;
	color: #ffffff;

}
button#showRightPush img {
	padding-left: 8px;
}

nav a{
	font-size:18px;
}

.navbar-brand {
	font-size: 16px;
}

/*--header--*/
.logo {
  float: left;
}
.top-nav{
	float:right;
	margin-top: 15px;
}
.top-header{
margin-top:50px;
}
.right_bt span{
	width: 37px;
    height: 25px;
	display: block;
	background: url(../images/menu.png) no-repeat 0px 0px;
}
.box{
	position:absolute;
	top:-1200px;
	width:100%;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background:rgba(0, 0, 0, 0.22);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 19px;
	right: 290px;
 }
 #activator {
}
.menu_box_list{
	display: inline-block;
	padding:30px 0;
}
.menu_box_list ul li {
	display:inline-block;
	  margin: 0 10px;
}
.menu_box_list li a{
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-weight: 600;
}
.menu_box_list li a:hover{
	color:#000000;
	text-decoration: none;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
}

.top-buffer { margin-top:20px; }

.boxclose span{
	width:58px;
	height:73px;
	display:inline-block;
	background: url(../images/into.png) no-repeat 0px 0px;
}
/*--/header--*/
/*--banner--*/
.banner{
	background: url(../images/banner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	min-height:750px;
}
.banner-info{
	padding-top:10%;
width:65%;
margin: 141px auto 0 auto;
}
.banner-right h1{
font-size:34px;
font-weight:800;
color:#ffffff;
margin:35px 0 15px 0;
letter-spacing: 15px;
}
.banner-right h2{
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  margin: 15px 0 45px 0;
}
.banner-right a{
text-decoration:none;
color:#ffffff;
font-size:16px;
font-weight:500;
padding:16px 20px;
border:2px solid #fff;
}
.banner-right a:hover{
border:2px solid #000;
}
.banner-left{
float:left;
}
.banner-right{
float:right;
}
.border {
  background: #52edc7;
  width: 70%;
  margin: 0 auto;
  padding: 1px;
}
/*--//banner--*/
/*--about--*/

.about{
padding:5% 0 5% 0;
}

.about h3{
margin:0;
color:#2b2b2b;
font-size:36px;
font-weight:500;
letter-spacing: 18px;
}
.strip{
  margin: 28px 0 0px 0;
}
.about p{
margin:45px 0 0 0;
color:#888b90;
font-size:18px;
font-family: 'Lato', sans-serif;
line-height:1.8em;
}
.about ul{
padding:0;
margin:45px 0 0 0;
}
.about ul li{
list-style-type:none;
display:inline-block;
margin-right:25px;
padding:0 2% 0 2%;
}
.about ul li a.fb{
background: url(../images/icons.png) no-repeat 0px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.twit{
background: url(../images/icons.png) no-repeat -99px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.twit:hover{
background: url(../images/icons.png) no-repeat -99px -71px;
}
.about ul li a.in{
background: url(../images/icons.png) no-repeat -199px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.in:hover{
background: url(../images/icons.png) no-repeat -199px -71px;
}
.about ul li a.drib{
background: url(../images/icons.png) no-repeat -299px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.drib:hover{
background: url(../images/icons.png) no-repeat -299px -71px;
}
.about ul li a.goog{
background: url(../images/icons.png) no-repeat -399px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.goog:hover{
background: url(../images/icons.png) no-repeat -399px -71px;
}
.about ul li a.pin{
background: url(../images/icons.png) no-repeat -499px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.pin:hover{
background: url(../images/icons.png) no-repeat -499px -71px;
}
.about ul li a.fb:hover{
background: url(../images/icons.png) no-repeat 0px -71px;
}
/*--//about--*/
/*--my skill--*/
.my-skills{
	background: #cccccc;
	padding: 60px 0;
	min-height: 659px;
}
.my-skills h3{
margin:0;
color:#ffffff;
font-size:36px;
font-weight:500;
letter-spacing: 18px;
}
.skill-grids{
margin-top:50px;
}
.skills-grid p{
margin:20px 0 0 0;
color:#ffffff;
font-size:16px;
font-weight:600;
text-transform:uppercase;
}
.circle{
color:#ffffff;
font-size:36px;
}
span.circles-number {
  font-size: 36px;
}
span.circles-text {
  font-size: 36px;
}
.circles-text-wrp {
  line-height: 142px !important;
}
/*--//my skill--*/

/*--services--*/
.services{
	background-color: #cccccc;
  padding: 5% 0 5% 0;
}
.ser-info h3{
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.ser-grids{
margin-top:50px;
}
.ser-imagea{
background: url(../images/icons.png) no-repeat -1px -339px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-imageb{
background: url(../images/icons.png) no-repeat -390px -150px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-imagec{
background: url(../images/icons.png) no-repeat -195px -149px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-imaged{
background: url(../images/icons.png) no-repeat -1px -143px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-grid h3{
margin:25px 0;
color:#2b2b2b;
font-size:24px;
font-family: 'Lato', sans-serif;
font-weight:700;
}
.ser-grid p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 18px;
  color: #444444;
  font-weight: 300;
}
/*--//services--*/

.process-girds p{
	font-size:22px;
}

.process-element{
		padding: 5% 0 5% 0;
		opacity:0;
}

.contact-element{
		opacity:0;
}

/*--portfolio--*/
.portfolio{
	padding: 5% 0 5% 0;
}
.gallery-section{
background-color: #444;
	text-align: center;
	padding: 5% 0 5% 0;
}

#portfolio p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 2% 0 0 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}

#portfolio ul{
	padding: 1% 4% 1% 4%;
}

#portfolio a,ul{
	color: #ffffff;
}

#portfolio a h3:hover{
 color: #999999;
}

#portfolio p a:hover{
 color: #ec1a1a;
}

.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 1%;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
-webkit-transform: scale(0);
transform: scale(0);
background-color:rgba(68,68,68, 0.7);
}
.gallery1:hover .textbox {
-webkit-transform: scale(1);
transform: scale(1);
}
.gallery-grid img{
width:100%;
}

.textbox {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
.textbox h4 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #fff;

}
.textbox p {
  font-size: 12px !important;
  color: #fff;
  font-weight:500 !important;
  margin:6px 0 0 0!important;
}
.gallery-grids {
  margin-top: 50px;
}
.button:hover{
 border: 2px solid #000;
}
.button {
  border: 2px solid #fff;
  padding: 10px;
  width: 34%;
  cursor:pointer;
  text-align:center;
  margin: 20px auto 0 auto;
}
.button a {
display:block;
color:#fff;
font-family: 'Lato', sans-serif;
font-size:18px;
font-weight:700;
}
/*--//portfolio--*/
/*--process--*/
.process{
  padding: 5% 0 5% 0;
}
.process-gird{
background:transparent;
border-radius:70%;
width:100%;
  height: 141px;
  padding: 16px 0 0 0;
}
.process h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.process-imagea{
background: url(../images/icons.png) no-repeat -506px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imageb{
background: url(../images/icons.png) no-repeat -206px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imagec{
background: url(../images/icons.png) no-repeat -264px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imaged{
background: url(../images/icons.png) no-repeat -317px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imagee{
background: url(../images/icons.png) no-repeat -383px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imagef{
background: url(../images/icons.png) no-repeat -461px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-gird p{
color:#2b2b2b;
font-family: 'Lato', sans-serif;
font-size:18px;
font-weight:700;
margin:14px 0 0 0;
}
.process-girds {
  margin-top: 50px;
}
.process-gird {
position:relative;
}
.process-gird  img{
position:absolute;
  top: 42%;
  left: 109.5%;
}
.process-pad{
padding:0 25px;

}
/*--//process--*/

@media screen and (max-width: 600px) {
	.process-girds p{
		font-size: 18px;
	}

	.process-girds .col-md-4 p{
		padding-bottom: 4%;
	}
	.textbox {
		display:none;
	}
}

/*-- contact --*/
.contact{
background:#cccccc;
padding:5% 0 0 0;
}
.contact-info h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
  }
.contact-grids{
margin-top:50px;
}
.contact-grids h3 {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 25px 0;
  }
.stripb{
background:#2b2b2b;
width:30%;
height:1px;
margin: 0 0 40px 0;
}
.contact-left ul{
margin: 0px 0 0 0;
padding:0;
}
.contact-left ul li{
list-style-type:none;
font-size:18px;
color:#2b2b2b;
font-weight:500;
line-height:1.8em;
font-family: 'Lato', sans-serif;
}
.contact-left ul li a{
text-decoration:none;
color:#2b2b2b;
}
.contact-left ul li a:hover{
color:#ffffff;
}
.contact-left ul li:nth-child(4) {
font-size:20px;
  margin: 30px 0;
  font-weight: 800;
}
.contact-left ul li:nth-child(6) {
  margin: 30px 0 0 0;
  font-weight: 800;
}
.contact-right input[type="text"]:hover,.contact-right textarea:hover {
border:3px solid #40c4a4;
}
.contact-right input[type="text"] {
border:3px solid transparent;
border-radius:2px;
font-family: 'Lato', sans-serif;
	width: 47.65%;
	outline: none;
	padding: 14px;
	font-size: 18px;
	font-weight:300;
	color: #c9c9cb;
	margin: 0 24px 24px 0;
}
.contact-right textarea {
border:3px solid transparent;
border-radius:2px;
font-family: 'Lato', sans-serif;
	width: 100%;
	height: 200px;
	outline: none;
	font-weight:300;
	font-size: 18px;
	color: #c9c9cb;
	resize: none;
	padding: 14px;
	margin-bottom: 24px;
}
.contact-right input[type="text"]:nth-child(2),.coment-form input[type="text"]:nth-child(2){
margin-right:0;
}
.contact-right form input[type="submit"] {
color:#2b2b2b;
font-family: 'Lato', sans-serif;
  background: url(../images/mess.png) no-repeat  14px;
  width: 40%;
  border-radius: 4px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  padding: 0;
  border: 3px solid #2b2b2b;
}
.contact-right form input[type="submit"]:hover {
 border: 3px solid #ffffff;
}

.down{
  margin-top: 50px;
}
/*-- contact --*/
/*-- footer --*/
.footer{
background:#888b90;
padding:40px 0;
}

.footer i{
	padding: 0 1% 0 1%
}

.footer p{
text-align:center;
font-family: 'Lato', sans-serif;
margin:0 0 0px 0;
font-size:26px;
color:#ffffff;
font-weight:400;
}
.footer p a{
color:#ffffff;
}
.footer p a:hover{
color:#000000;
}
/*-- //footer --*/
.footer-top{
	background: url(../images/footer.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:188px;
}

.strip a{
background:none;
border:none;
}
/*-- responsive media queries --*/
@media(max-width:1440px){

	.banner.page-head {
	  min-height: 115px;
	}
	.banner {
	  min-height: 659px;
	}

	.gallery-section {
	  padding: 5% 0 5% 0;
	}

}
@media(max-width:1366px){
	a.boxclose {
	  right: 250px;
	}

}
@media(max-width:1280px){
	a.boxclose {
	  right: 160px;
	}
	.logo {
	  float: left;
	  width: 13%;
	}
	.logo img{
	 width:100%;
	}
}
@media(max-width:1024px){
	.top-nav {
	  margin-top: 8px;
	}
	.banner.page-head {
	  min-height: 96px;
	}
	.boxclose span {
	  width: 49px;
	  height: 47px;
	  }
	a.boxclose {
	  right: 92px;
	}

	.footer {
	  padding: 35px 0;
	}
	.footer p {
	  font-size: 22px;
	  }

	.strip {
	  margin: 15px 0 0px 0;
	}
	.banner-info {
	  width: 78%;

	  margin: 100px auto 0 auto;
	}
	.banner-right h1 {
	  font-size: 30px;
	  margin: 23px 0 15px 0;
	  }
	.banner-right h2 {
	  font-size: 45px;
	  }
	.banner-right a {
	  font-size: 14px;
	  padding: 12px 20px;
	}
	.banner {
	  min-height: 575px;
	}
	.about h3 {
	  font-size: 32px;
	}
	.about p {
	  margin: 40px 0 0 0;
	  font-size: 16px;
	}
	.about ul {
	  margin: 40px 0 0 0;
	}

	.about ul li {
	  margin-right: 15px;
	}

	.services-back {
	  min-height: 53px;
	}
	.ser-info h3 {
	  font-size: 32px;
	  }
	.ser-grids {
	  margin-top: 40px;
	}
	.ser-grid h3 {
	  margin: 20px 0 11px 0;
	  font-size: 18px;
	  }
	.ser-grid p {
	  font-size: 16px;
	  }
	.gallery-section {
	  padding: 10% 0 5% 0;
	}
	.gallery-section h3 {
	  font-size: 32px;
	  }
	#portfolio p {
	  font-size: 16px;
	  }
	.gallery-grids {
	  margin-top: 40px;
	}

	.button {
	  padding: 7px;
	  }
	.button a {
	  font-size: 16px;
	  }
	.gallery-section {
	}
	.process h3 {
	  font-size: 32px;
	  }
	.process-pad {
	  padding: 0 12px;
	}
	.process-gird p {
	  font-size: 16px;
	  margin: 8px 0 0 0;
	}
	.process-gird {
	  height: 131px;
	  padding: 16px 0 0 0;
	}
	.process-gird img {
	  left: 101.5%;
	}
	.process-back {
	  min-height: 55px;
	}
	.process-girds {
	  margin-top: 40px;
	}
	.services {
	  padding: 10% 0 5% 0;
	}
	.process {
	  padding: 10% 0 5% 0;
	}

	.stripa {
	  margin: 10px 0 3px 0;
	  }

	.contact {
	  padding: 10% 0 0 0;
	}
	.contact-grids {
	  margin-top: 45px;
	}
	.contact-grids h3 {
	  font-size: 16px;
	  margin: 0 0 15px 0;
	}
	.stripb {
	  margin: 0 0 30px 0;
	}
	.contact-left ul li {
	  font-size: 16px;
	  }
	.contact-info h3 {
	  font-size: 32px;
	  }
	.contact-right input[type="text"] {
	  width: 47.2%;
	  padding: 10px;
	  font-size: 16px;
	  }
	.contact-right textarea {
	  height: 145px;
	  font-size: 16px;
	  padding: 10px;
	  }
	.contact-left ul li:nth-child(4) {
	  font-size: 16px;
	  margin: 20px 0;
	}
	.contact-left ul li:nth-child(6) {
	  margin: 20px 0 0 0;
	  }
	.contact-right form input[type="submit"] {
	  background: url(../images/mess.png) no-repeat 60px 14px;
	  width: 46%;
	  }

}

@media(max-width:1000px){
	.textbox {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	}

	.top-nav {
	  margin-top: 3px;
	}
	.menu_box_list li a {
	  font-size: 14px;
	  }
	.menu_box_list ul li {
	  margin: 0 5px;
	}
	.boxclose span {
	  width: 30px;
	  height: 30px;
	  background-size: 100% !important;
	}
	a.boxclose {
	  top: 25px;
	  right: 68px;
	}
	.banner-info {
	  width: 96%;
	  }
	.banner-left img {
	  width: 100%;
	}
	.banner-left {
	  float: left;
	  width: 32%;
	}
	.banner-right {
	  float: right;
	  width: 64%;
	}
	.logo {
	  float: left;
	  width: 14%;
	}
	.banner-info {
	  margin: 80px auto 0 auto;
	}
	.banner {
	  min-height: 467px;
	}
	.banner-right h1 {
	  font-size: 28px;
	  }
	.border {
	  width: 58%;
	  }
	.banner-right h2 {
	  font-size: 40px;
	}
	.banner-right h2 {
	  margin: 15px 0 35px 0;
	}
	.about h3 {
	  font-size: 30px;
	}
	.about p {
	  margin: 30px 0 0 0;
	  font-size: 14px;
	}
	.about ul {
	  margin: 30px 0 0 0;
	}
	.about {
	  padding: 10% 0 5% 0;
	}

	.services-back {
	  min-height: 40px;
	}
	.ser-info h3 {
	  font-size: 30px;
	}
	.services {
	  padding: 10% 0 5% 0x;
	}
	.col-md-3.ser-grid {
	  float: left;
	  width: 25%;
	}
	.ser-grid h3 {
	  font-size: 16px;
	}
	.ser-grid p {
	  font-size: 14px;
	}
	.ser-imagea {
	  background: url(../images/icons.png) no-repeat 0px -231px;
	  width: 130px;
	  height: 130px;
	  display: block;
	  margin: 0 auto;
	  background-size: 319% !important;
	}
	.ser-imageb {
	  background: url(../images/icons.png) no-repeat -266px -103px;
	  width: 130px;
	  height: 130px;
	  display: block;
	  margin: 0 auto;
	  background-size: 319% !important;
	}
	.ser-imagec {
	  background: url(../images/icons.png) no-repeat -133px -101px;
	  width: 130px;
	  height: 130px;
	  display: block;
	  margin: 0 auto;
	  background-size: 319% !important;
	}
	.ser-imaged {
	  background: url(../images/icons.png) no-repeat -1px -98px;
	  width: 130px;
	  height: 130px;
	  display: block;
	  margin: 0 auto;
	  background-size: 319% !important;
	}
	.gallery-section {
	  padding: 10% 0 5% 0;
	}
	.gallery-section h3 {
	  font-size: 30px;
	}
	#portfolio p {
	  font-size: 14px;
	}
	.gallery-grid {
	  float: left;
	  width: 33.3%;
	}
	.gallery-section {
	}

	.process h3 {
	  font-size: 30px;
	}
	.process-pad {
	  width: 33.3% !important;
	  float: left;
	}
	.process-pad {
	  padding: 0 33px;
	}

	.process-girds .col-md-4 p{
		padding-bottom: 4%;
	}
	img.pro-img {
	  display: none;
	}

	.process-pad:nth-child(1),.process-pad:nth-child(2),.process-pad:nth-child(3) {
	  margin-bottom: 30px;
	}
	.process-gird img {
	  left: 113.5%;
	}
	.process-back {
	  min-height: 42px;
	}
	.process {
	  padding: 100px 0;
	}
	.contact-back {
	  min-height: 40px;
	}
	.contact-info h3 {
	  font-size: 30px;
	}
	.contact {
	  padding: 40px 0 0 0;
	}
	.contact-left {
	  float: left;
	  width: 34% !important;
	}
	.contact-right {
	  float: right;
	  width: 66% !important;
	}
	.contact-left ul li {
	  font-size: 14px;
	}
	.contact-left ul li:nth-child(4) {
	  margin: 10px 0;
	}
	.contact-left ul li:nth-child(6) {
	  margin: 10px 0 0 0;
	}
	.contact-right input[type="text"] {
	  width: 46.7%;
	  padding: 6px 10px;
	  font-size: 14px;
	}
	.contact-right textarea {
	  height: 130px;
	  font-size: 14px;
	  padding: 6px 10px;
	}
	.contact-right form input[type="submit"] {
	  background: url(../images/mess.png) no-repeat 37px 14px;
	  font-size: 16px;
	  }
	.footer p {
	  font-size: 18px;
	}
	.footer {
	  padding: 25px 0;
	}

}
@media(max-width:640px){
.contact-left {
  float: left;
  width: 39% !important;
}
.contact-right {
  float: right;
  width: 61% !important;
}
	.menu_box_list ul li {
	  display: block;
	  padding: 10px 0;
	  }
	.logo {
	  float: left;
	  width: 17%;
	}
	.banner-right h1 {
	  font-size: 26px;
	}
	.banner-right h2 {
	  font-size: 35px;
	}
	.banner-right a {
	  padding: 9px 15px;
	}
	.banner-info {
	  margin: 60px auto 0 auto;
	}
	.banner {
	  min-height: 393px;
	}
	.services-back {
	  min-height: 33px;
	}
	.ser-grid {
	  float: left;
	  width: 50% !important;
	}
	.ser-grid:nth-child(1) ,.ser-grid:nth-child(3),.ser-grid:nth-child(2){
	margin-bottom:30px;
	}
	.gallery-section {
	}
	.process-gird {
	  height: 134px;
	  padding: 20px 0 0 0;
	}
	.process-back {
	  min-height: 33px;
	}
	.contact-right input[type="text"] {
	  width: 100%;
	  padding: 6px 10px;
	  font-size: 14px;
	}
	.contact-left ul li:nth-child(4) {
	  margin: 3px 0;
	}
	.contact-left ul li:nth-child(6) {
	  margin: 3px 0 0 0;
	}
	.contact-right form input[type="submit"] {
	  height: 45px;
	  width: 41%;
	  background: url(../images/mess.png) no-repeat 26px 11px;
	  }
		.textbox {
			display:none;
		}
}
@media(max-width:480px){
	.logo {
	  float: left;
	  width: 23%;
	}
	.banner-info {
	  width: 100%;
		padding-top:20%;
	}
	.banner-left {
	  float: left;
	  width: 30%;
	}
	.banner-right {
	  float: right;
	  width: 70%;
	}
	.banner-right h1 {
	  font-size: 20px;
		letter-spacing: 10px;
	}
	.banner-right h2 {
	  font-size: 30px;
	}
	.banner-right h2 {
	  margin: 10px 0 28px 0;
	}
	.banner {
	  min-height: 352px;
	}
	.about {
		padding: 20% 0 5% 0;
	}
	.about h3 {
	  letter-spacing: 11px;
	  font-size: 28px;
	}
	.about p {
	  margin: 22px 0 0 0;
	  font-size: 13px;
	}
	.about ul li {
	  margin-right: 6px;
	}
	.about ul li a.drib {
	  background: url(../images/icons.png) no-repeat -207px 1px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.drib:hover {
	  background: url(../images/icons.png) no-repeat -207px -49px;
		  background-size: 839% !important;
	  }
	.about ul li a.fb {
	  background: url(../images/icons.png) no-repeat -0px 0px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.fb:hover {
	  background: url(../images/icons.png) no-repeat -0px -49px;
		  background-size: 839% !important;
	  }
	.about ul li a.pin {
	  background: url(../images/icons.png) no-repeat -346px 0px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.pin:hover {
	  background: url(../images/icons.png) no-repeat -346px -49px;
		  background-size: 839% !important;
	  }
	.about ul li a.twit {
	  background: url(../images/icons.png) no-repeat -69px 1px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.goog {
	  background: url(../images/icons.png) no-repeat -278px 0px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.goog:hover {
	  background: url(../images/icons.png) no-repeat -278px -49px;
		  background-size: 839% !important;
	  }
	.about ul li a.in {
	  background: url(../images/icons.png) no-repeat -139px 1px;
	  width: 50px;
	  height: 50px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.in:hover{
	  background: url(../images/icons.png) no-repeat -139px -49px;
		  background-size: 839% !important;
	  }
	.banner-right h1 {
	  margin: 8px 0 15px 0;
	}
	.about ul li a.twit:hover {
	  background: url(../images/icons.png) no-repeat -69px -49px;
		background-size: 839% !important;
	  }
	.services{
		padding: 20% 0 5% 0;
	}

	.services-back {
	  min-height: 24px;
	}
	.ser-grid p {
	  font-size: 13px;
	}
	.ser-grid h3 {
	  font-size: 13px;
	}
	.gallery-section {
	  padding: 20% 0 5% 0;
	}
	#portfolio p {
	  font-size: 13px;
	}
	.gallery-grid {
	  float: left;
	  width: 50%;
	}

	.gallery-grid h4 {
	  font-size: 14px;
	  }
	.button a {
	  font-size: 13px;
	}
	.process-pad {
	  padding: 0 15px;
	}
	.process-gird {
	  height: 116px;
	  padding: 9px 0 0 0;
	}
	.process-gird p {
	  font-size: 13px;
	  }
	.process-gird img {
	  left: 104.5%;
	}
	.process-back {
	  min-height: 25px;
	}
	.test-banner {
	  width: 90%;
	  margin: 27px auto 0 auto;
	  padding: 54px 27px;
	}
	.test-right p {
	  font-size: 13px;
	}
	.test-right p {
	  margin: 6px 0 4px 0;
	}
	.test-right h4 {
	  font-size: 13px;
	  }
	.callbacks_nav.next {
	  left: 97%;
	}
	a.callbacks_nav.callbacks1_nav.prev {
	  left: -2%;
	}
	.contact-back {
	  min-height: 26px;
	}
	.contact-left ul li {
	  font-size: 13px;
	}
	.col-md-5.contact-left {
	  padding-left: 0;
	}
	.col-md-7.contact-right {
	  padding-right: 0;
	}
	.contact-left {
	  float: left;
	  width: 46% !important;
	}
	.contact-right {
	  float: right;
	  width: 54% !important;
	}
	.contact-right form input[type="submit"] {
	  width: 55%;
	  background: url(../images/mess.png) no-repeat 14px 11px;
	}
	.contact-left ul li:nth-child(4) {
	  font-size: 13px;
	  }
	.contact-right textarea {
	  height: 120px;
	  }
		.textbox {
			display:none;
		}
}
@media(max-width:320px){
.col-md-4.sample-page-right {
  padding: 0;
}
.logo {
  float: left;
  width: 35%;
}
.top-header {
  margin-top: 18px;
}
.banner.page-head {
  min-height: 66px;
}
.ser-info h3, .gallery-section h3, .process h3, .contact-info h3 {
  font-size: 21px;
  letter-spacing: 5px;
}
.col-md-8.sample-page-left {
  padding: 0;
}
.footer p {
  font-size: 18px;
}
.banner-right h1 {
  font-size: 16px;
  letter-spacing: 5px;
}
.banner-right h2 {
  font-size: 18px;
}
.banner-right a {
  font-size: 13px;
  }
.banner-right a {
  padding: 5px 4px;
}
.banner-right h2 {
  margin: 6px 0 14px 0;
}
.banner-right h1 {
  margin: 8px 0 8px 0;
}
.banner-info {
	padding-top:20%;
  margin: 38px auto 0 auto;
}
.banner {
  min-height: 231px;
}
.about-back {
  min-height: 19px;
}
.services-back {
  min-height: 18px;
}
.ser-grid {
  float: left;
  width: 100% !important;
}
.gallery-grid {
  float: left;
  width: 50%;
}
.button {
  padding: 5px;
  width: 46%;
  margin: 5px auto 0 auto;
}


.process-pad {
  width: 50% !important;
  float: left;
}
.process-pad:nth-child(1), .process-pad:nth-child(2), .process-pad:nth-child(3),.process-pad:nth-child(4)  {
  margin-bottom: 30px;
}
.process-gird {
  height: 105px;
  }
img.pro-img {
  display: block;
}
.menu_box_list ul li {
  display: block;
  padding: 4px 0;
}
img.pro-imga, img.pro-imgb {
  display: none;
}
a.callbacks_nav.callbacks1_nav.prev {
  left: -5%;
}
.contact-back {
  min-height: 15px;
}
.contact-grids {
  margin-top: 25px;
}
.contact-left {
  float: left;
  width: 100% !important;
}
.contact-right {
  float: right;
  width: 100% !important;
  padding: 0;
}
.contact-right input[type="text"] {
  margin: 0 0px 21px 0;
}
.contact-right form input[type="submit"] {
  width: 100%;
  background: url(../images/mess.png) no-repeat 81px 11px;
}
.contact {
  padding: 40px 0;
}
.col-md-7.contact-right {
  margin-top: 30px;
}
.about ul li a.drib {
	  background: url(../images/icons.png) no-repeat -137px 1px;
	  width: 33px;
	  height: 33px;
	  display: block;
	  background-size: 839% !important;
	}
.about ul li a.drib:hover {
	  background: url(../images/icons.png) no-repeat -137px -33px;
	  }
	.about ul li a.fb {
	  background: url(../images/icons.png) no-repeat -0px 1px;
	  width: 33px;
	  height: 33px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.fb:hover {
	  background: url(../images/icons.png) no-repeat -0px -33px;
}
	.about ul li a.pin {
	  background: url(../images/icons.png) no-repeat -229px 0px;
	  width: 33px;
	  height: 33px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.pin:hover {
	  background: url(../images/icons.png) no-repeat -229px -33px;
	  }
	.about ul li a.twit {
	  background: url(../images/icons.png) no-repeat -46px 1px;
	  width: 33px;
	  height: 33px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.twit:hover {
	  background: url(../images/icons.png) no-repeat -46px -32px;
	  }
	.about ul li a.goog {
	  background: url(../images/icons.png) no-repeat -183px 0px;
	  width: 33px;
	  height: 33px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.goog:hover {
	  background: url(../images/icons.png) no-repeat -183px -33px;
}
	.about ul li a.in {
	  background: url(../images/icons.png) no-repeat -92px 1px;
	  width: 33px;
	  height: 33px;
	  display: block;
	  background-size: 839% !important;
	}
	.about ul li a.in:hover {
	  background: url(../images/icons.png) no-repeat -92px -33px;
	  }
	.gallery-section h3{
		font-size: 22px;
	}
	.gallery-grid h4{
		font-size: 14px;
	}
	.textbox {
		display:none;
	}
}

@media(max-width:300px){
	.navbar-brand {
		font-size: 14px;
	}
}
/*-- responsive media queries --*/
